@inject JwtAuthStateProvider Auth

<div class="nav-logout-footer">
	<button class="btn-logout-themed" type="button" @onclick="TryLogout">Log ud</button>
</div>

@code {
	public void TryLogout()
	{
		Auth.Logout();
	}
}
